/* @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); */

.header_main {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 70px;
    color: black;
}

.header_sub {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 40px;
    color: black;
}

.container {
    color: black;
    font-size: 35px;
    font-family: 'Acme', sans-serif;
}

.title1 {
    font-size: 40px;
    color: black;
}